
#slider{
	position:relative;
	display:inline-block;
	width:75%;
	height:300px;
	overflow:hidden;
	padding:5px;
}

.slide-next,.slide-prev{
	position:relative;
	padding:15px;
	display:inline-block;
	top:30%;
	font-size:400%;
	color:#EEE;
	font-weight:100 !important;
	opacity:0.8;
	cursor:pointer;
	z-index:1000;
	display:none;
}
.slide-next:hover,.slide-prev:hover{
	opacity:1;
	color:#aaa;
	display:none;
}
.slide-prev{float:left;}
.slide-next{float:right;}

#slides{
	position:absolute;	
	width:100%;
	padding:5px;
	overflow:hidden;
}

#slider p{
	display:block;
	position:absolute;	
	height:96%;
	width:99%;
	float:left;
	margin:0 55px 15px 0;
	text-align:center;
	padding:2% 9%;
	font-size: 150%;
	line-height:180%;
	display:none;
	font-weight:normal;
}

#slider p:first-child{
	display:block;
}
.quote-start,.quote-end{
	display:inline-block;
	font-size:160%;
	color:#AAA;
}
.quote-start{margin-top:-10px;}
.quote-end{margin-bottom:-10px;}
.testimonial-author{
	display:block;
	position:relative;
	text-align:center;
	color:#999;
}